<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{pageTitle}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
</head>

<body>
     {{>header}}
    <section class="pt-20 pb-48 bg-gray-500">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center text-center">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold">{{title}}</h2>
                    <p class="text-lg leading-relaxed m-4 text-gray-600">
                        {{description}}
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>